<th:block th:fragment="navlinks(activeLink)">
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav me-auto">
            <li class="nav-item" th:classappend="${activeLink} == 'home' ? 'active':''">
                <a class="nav-link" th:href="@{/}">日程</a>
            </li>
            <li class="nav-item" th:classappend="${activeLink} == 'appointments' ? 'active':''">
                <a class="nav-link" th:href="@{/appointments/all}">预约</a>
            </li>
            <li class="nav-item" th:classappend="${activeLink} == 'works' ? 'active':''">
                <a class="nav-link" th:href="@{/works/all}">服务项目</a>
            </li>
            <li class="nav-item" th:classappend="${activeLink} == 'providers' ? 'active':''">
                <a class="nav-link" th:href="@{/providers/all}">服务人员</a>
            </li>
            <li class="nav-item" th:classappend="${activeLink} == 'customers' ? 'active':''">
                <a class="nav-link" th:href="@{/customers/all}">客户</a>
            </li>
            <li class="nav-item" th:classappend="${activeLink} == 'invoices' ? 'active':''">
                <a class="nav-link" th:href="@{/invoices/all}">发票</a>
            </li>
        </ul>
    </div>
</th:block>
