<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'providers','服务人员')}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<body th:remove="tag">


<div class="page-header">
    <div>
        <h1>服务人员</h1>
        <p>查看服务人员资料、服务数量和预约数量。</p>
    </div>
    <a class="btn btn-primary" th:href="@{/providers/new}" role="button">新增服务人员</a>
</div>
<div class="content-panel">
    <div class="table-responsive">
        <table id="providers" class="table table-striped text-center">
            <thead class="table-dark">
            <tr>
                <th>姓名</th>
                <th>邮箱</th>
                <th>预约数</th>
                <th>服务数</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${providers.empty}">
                <td colspan="5">暂无服务人员</td>
            </tr>
            <tr th:each="item : ${providers.content}" th:with="provider=${item.provider}">
                <td><span th:text="${provider.firstName +' ' + provider.lastName}"> Name Lastname </span></td>
                <td><span th:text="${provider.email }"> email </span></td>
                <td><span th:text="${item.appointmentCount}"> 3 </span></td>
                <td><span th:text="${item.workCount}"> 2 </span></td>
                <td><a class="btn btn-secondary" th:href="@{'/providers/' + ${provider.id}}" role="button">详情</a>
                    <form class="d-inline-block" th:action="@{/providers/delete}" method="POST">
                        <input type="hidden" name="providerId" th:value="${provider.id}"/>
                        <button type="submit" name="submit" value="value" class="btn btn-danger">删除</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:replace="~{fragments/pagination :: pager(${providers}, '/providers/all', '')}"></div>
    </div>
</div>


</body>
</html>
