<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'account','账户资料')}"
      xmlns:sec="http://www.w3.org/1999/xhtml">


<body th:remove="tag">


<div class="page-header">
    <div>
        <h1>账户资料</h1>
        <p>维护个人资料、联系方式和密码。</p>
    </div>
</div>

<div class="row g-4">
    <div class="col-lg-3">
        <!--left col-->

        <div class="text-center">
            <div class="avatar-placeholder img-thumbnail" role="img" aria-label="用户头像"></div>

        </div>
        </hr><br>


        <div class="card text-center">
            <div class="card-header">
                预约统计
            </div>
            <div class="card-body p-0">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        已预约
                        <span class="badge text-bg-primary rounded-pill"
                              th:text="${numberOfScheduledAppointments}">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        本月已取消
                        <span class="badge text-bg-danger rounded-pill"
                              th:text="${numberOfCanceledAppointments}">1</span>
                    </li>
                </ul>
            </div>

        </div>


    </div>
    <!--/col-3-->
    <div class="col-lg-9">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab"
                   aria-controls="profile" aria-selected="true">资料</a>
            </li>
            <li sec:authorize="hasRole('ROLE_PROVIDER') or hasRole('ROLE_CUSTOMER')" class="nav-item">
                <a class="nav-link" id="newPassword-tab" data-bs-toggle="tab" href="#newPassword" role="tab"
                   aria-controls="newPassword" aria-selected="false">密码</a>
            </li>

        </ul>


        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active pt-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <form th:action="@{${formActionProfile}}" th:object="${user}" method="POST">

                    <input type="hidden" class="form-control" th:field="*{id}">

                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="userName">用户名</label>
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('userName') ? 'is-invalid' :''}" th:field="*{userName}" readonly>
                            <div th:if="${#fields.hasErrors('userName')}" class="invalid-feedback">
                                <p th:errors="*{userName}"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="email">邮箱</label>
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('email') ? 'is-invalid' :''}" th:field="*{email}">
                            <div th:if="${#fields.hasErrors('email')}" class="invalid-feedback">
                                <p th:errors="*{email}"></p>
                            </div>
                        </div>

                    </div>

                    <th:block th:if="${account_type =='customer_corporate'}">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="companyName">公司名称</label>
                                <input type="text" class="form-control" th:classappend="${#fields.hasErrors('companyName') ? 'is-invalid' :''}" th:field="*{companyName}">
                                <div th:if="${#fields.hasErrors('companyName')}" class="invalid-feedback">
                                    <p th:errors="*{companyName}"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="vatNumber">税号</label>
                                <input type="text" class="form-control" th:classappend="${#fields.hasErrors('vatNumber') ? 'is-invalid' :''}" th:field="*{vatNumber}">
                                <div th:if="${#fields.hasErrors('vatNumber')}" class="invalid-feedback">
                                    <p th:errors="*{vatNumber}"></p>
                                </div>
                            </div>

                        </div>
                    </th:block>


                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="firstName">名</label>
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('firstName') ? 'is-invalid' :''}" th:field="*{firstName}">
                            <div th:if="${#fields.hasErrors('firstName')}" class="invalid-feedback">
                                <p th:errors="*{firstName}"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="lastName">姓</label>
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('lastName') ? 'is-invalid' :''}" th:field="*{lastName}">
                            <div th:if="${#fields.hasErrors('lastName')}" class="invalid-feedback">
                                <p th:errors="*{lastName}"></p>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="mobile">手机号</label>
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('mobile') ? 'is-invalid' :''}" th:field="*{mobile}">
                            <div th:if="${#fields.hasErrors('mobile')}" class="invalid-feedback">
                                <p th:errors="*{mobile}"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="street">街道地址</label>
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('street') ? 'is-invalid' :''}" th:field="*{street}">
                            <div th:if="${#fields.hasErrors('street')}" class="invalid-feedback">
                                <p th:errors="*{street}"></p>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="city">城市</label>
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('city') ? 'is-invalid' :''}" th:field="*{city}">
                            <div th:if="${#fields.hasErrors('city')}" class="invalid-feedback">
                                <p th:errors="*{city}"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="postcode">邮编</label>
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('postcode') ? 'is-invalid' :''}" th:field="*{postcode}">
                            <div th:if="${#fields.hasErrors('postcode')}" class="invalid-feedback">
                                <p th:errors="*{postcode}"></p>
                            </div>
                        </div>
                    </div>

                    <th:block th:if="${account_type =='provider'}">
                        <div class="mb-3">
                            <p class="text-primary">个人客户服务</p>
                            <p class="text-info">企业客户服务</p>
                            <label>可提供服务：</label>
                            <ul>
                                <li th:each="work : ${allWorks}">
                                    <input type="checkbox" th:field="*{works}" th:value="${work.id}" />
                                    <label th:for="${#ids.prev('works')}" th:classappend="${work.targetCustomer=='retail'} ? text-primary : text-info" th:text="${work.name}">法语课</label>
                                </li>
                            </ul>
                        </div>
                    </th:block>

                    <button type="submit" class="btn btn-primary">保存资料</button>
                </form>


            </div>
            <div class="tab-pane fade pt-3" id="newPassword" role="tabpanel" aria-labelledby="newPassword-tab">

                <form th:action="@{${formActionPassword}}" th:object="${passwordChange}" method="POST">

                    <input type="hidden" th:field="*{id}">

                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="currentPassword">当前密码</label>
                            <input type="password" class="form-control" th:classappend="${#fields.hasErrors('currentPassword') ? 'is-invalid' :''}" th:field="*{currentPassword}">
                            <div th:if="${#fields.hasErrors('currentPassword')}" class="invalid-feedback">
                                <p th:errors="*{currentPassword}"></p>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="password">新密码</label>
                            <input type="password" class="form-control" th:classappend="${#fields.hasErrors('password') ? 'is-invalid' :''}" th:field="*{password}">
                            <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback">
                                <p th:errors="*{password}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="matchingPassword">再次输入新密码</label>
                            <input type="password" class="form-control" th:classappend="${#fields.hasErrors('matchingPassword') ? 'is-invalid' :''}" th:field="*{matchingPassword}">
                            <div th:if="${#fields.hasErrors('matchingPassword')}" class="invalid-feedback">
                                <p th:errors="*{matchingPassword}"></p>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">保存密码</button>
                </form>
            </div>

        </div>

    </div>


</div>
</body>
</html>
