<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'notifications','Notifications List')}"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<body th:remove="tag">

<div class="row align-items-center justify-content-center" style="margin-top: 50px">


    <div>
        <div style="text-align:right">
            <form th:action="@{/notifications/markAllAsRead}" id="markAllAsRead" method="POST">
                <a class="btn btn-success" href="#"
                   onclick="document.getElementById('markAllAsRead').submit(); return false;">Mark All As Read</a>
            </form>
        </div>
        <table id="notifications" class="table table-striped text-center mt-2">

            <thead class="table-dark">

            <tr>
                <th> Date</th>
                <th> Title</th>
                <th> Message</th>
                <th> Action</th>
                <th> Seen</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${notifications.empty}">
                <td colspan="5"> No notifications available</td>
            </tr>
            <tr th:each="notification : ${notifications.content}">
                <td><span th:text="${#dates.format(notification.createdAt, 'dd-MMM-yyyy')}"> 01-01-2019 </span></td>
                <td><span th:text="${notification.title}"> New appointment </span></td>
                <td><span th:text="${notification.message}"> meesage</span></td>
                <td>
                    <form th:action="@{'/notifications/'+${notification.id}}" method="POST">
                        <button type="submit" class="btn btn-link p-0">See</button>
                    </form>
                </td>
                <td><span th:text="${notification.isRead()}">true</span></td>

            </tr>
            </tbody>
        </table>
        <div th:replace="~{fragments/pagination :: pager(${notifications}, '/notifications', '')}"></div>
    </div>

</div>
</body>
</html>
