<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home','Home')}"
>

<body th:remove="tag">
<script defer th:src="@{/js/vendor/fullcalendar.global.min.js}"></script>
<script defer th:src="@{/js/home-calendar.js}"></script>

<div class="row mt-3">
    <div class="col">

    </div>
    <div class="col-10">
        <div id="calendar" th:attr="data-events-url=@{'/api/user/'+${user.id}+'/appointments'}"></div>
    </div>
    <div class="col">

    </div>
</div>
</body>

</html>
