<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'exchange','换约确认')}"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<body th:remove="tag">
<div class="page-header">
    <div>
        <h1>换约确认</h1>
        <p>确认后系统会向对方发送换约请求。</p>
    </div>
</div>

    <div class="content-panel">
            <table id="appointments" class="table">

                <tr>
                    <td><span th:text="${#temporals.format(oldAppointment.start, 'dd-MM-yyyy HH:mm')}">10-01-2019 12:40</span></td>
                    <td><span th:text="${oldAppointment.work.name}">english lesson</span></td>
                    <td><span th:text="${oldAppointment.provider.firstName}">Name LastName</span></td>

                </tr>
                <tr>
                    <td></td>
                    <td><b>换成</b></td>
                    <td></td>
                </tr>

                <tr>
                    <td><span th:text="${#temporals.format(newAppointment.start, 'dd-MM-yyyy HH:mm')}">10-01-2019 12:40</span></td>
                    <td><span th:text="${newAppointment.work.name}">english lesson</span></td>
                    <td><span th:text="${newAppointment.provider.firstName}">Name LastName</span></td>

                </tr>
                <tr>
                    <td>
                        <form th:action="@{/exchange}" method='POST'>
                            <input type="hidden" name="oldAppointmentId" th:value="${oldAppointment.id}">
                            <input type="hidden" name="newAppointmentId" th:value="${newAppointment.id}">
                            <input type="submit" class="btn btn-primary" value="发送换约请求" />
                        </form>
                    </td>
                </tr>
            </table>
    </div>
</body>

</html>
