<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
<p th:if="${canceler =='客户'}">你好，<span th:text="${appointment.provider.firstName}"></span></p>
<p th:if="${canceler =='服务人员'}">你好，<span th:text="${appointment.customer.firstName}"></span></p>
<p>该预约已被<span th:text="${canceler}"></span>取消。</p>
<p>开始时间：<span th:text="${#temporals.format(appointment.start, 'dd-MM-yyyy HH:mm')}"></span></p>
<p>服务：<span th:text="${appointment.work.name}"></span></p>
<p th:if="${canceler =='客户'}">服务人员：<span th:text="${appointment.provider.firstName + ' ' + appointment.provider.lastName}"></span></p>
<p th:if="${canceler =='服务人员'}">客户：<span th:text="${appointment.customer.firstName + ' ' + appointment.customer.lastName}"></span></p>
<p>时长：<span th:text="${appointment.work.duration}"></span> 分钟</p>
<p>价格：<span th:text="${appointment.work.price}"></span> PLN</p>
</body>

</html>
