<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
<p>你好，<span th:text="${appointment.customer.firstName}"></span></p>
<p>以下是你的已完成预约摘要：</p>
<p>时间：<span th:text="${#temporals.format(appointment.start, 'dd-MM-yyyy HH:mm')}"></span></p>
<p>服务人员：<span th:text="${appointment.provider.firstName}"></span></p>
<p>服务：<span th:text="${appointment.work.name}"></span></p>
<p>时长：<span th:text="${appointment.work.duration}"></span> 分钟</p>
<p>价格：<span th:text="${appointment.work.price}"></span> PLN</p>
<p>如果该预约未实际履约，你可在 24 小时内点击<a th:href="${url}">这里</a>提交申诉。</p>

</body>

</html>
