<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
<p>你好，<span th:text="${appointment.customer.firstName}"></span></p>
<p>服务人员已确认该预约未履约：</p>
<p>开始时间：<span th:text="${#temporals.format(appointment.start, 'dd-MM-yyyy HH:mm')}"></span></p>
<p>服务：<span th:text="${appointment.work.name}"></span></p>
<p>时长：<span th:text="${appointment.work.duration}"></span> 分钟</p>
<p>价格：<span th:text="${appointment.work.price}"></span> PLN</p>

<p><strong>该预约状态已设置为已拒绝，不会开票。</strong></p>

</body>

</html>
