<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'works','服务项目')}"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<body th:remove="tag">


<div class="page-header">
    <div>
        <h1>服务项目</h1>
        <p>维护可预约服务、价格、时长和适用客户类型。</p>
    </div>
    <a class="btn btn-primary" th:href="@{/works/new}" role="button">新增服务</a>
</div>
<div class="content-panel">
    <div class="table-responsive">
        <table id="works" class="table text-center">
            <thead class="table-dark">
            <tr>
                <th>名称</th>
                <th>适用客户</th>
                <th>价格</th>
                <th>时长</th>
                <th>服务人员数</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${works.empty}">
                <td colspan="6">暂无服务项目</td>
            </tr>

            <tr th:each="item : ${works.content}" th:with="work=${item.work}"
                th:classappend="${work.targetCustomer=='retail'} ? table-primary : table-info">
                <td><span th:text="${work.name}"> english </span></td>
                <td><span th:text="${work.targetCustomer == 'retail' ? '个人客户' : '企业客户'}">个人客户</span></td>
                <td><span th:text="${work.price + ' PLN'}"> 50 PLN </span></td>
                <td><span th:text="${work.duration+' 分钟'}"> 30 分钟 </span></td>
                <td><span th:text="${item.providerCount}"> 2 </span></td>
                <td><a class="btn btn-secondary" th:href="@{'/works/' + ${work.id}}" role="button">详情</a>
                    <form class="d-inline-block" th:action="@{/works/delete}" method="POST">
                        <input type="hidden" name="workId" th:value="${work.id}" />
                        <button type="submit" name="submit" value="value" class="btn btn-danger">删除</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:replace="~{fragments/pagination :: pager(${works}, '/works/all', '')}"></div>
    </div>
</div>


</body>

</html>
