<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      th:replace="~{fragments/layout :: layout (~{::body},'appointments','Customer appointments')}">

<body th:remove="tag">
<!-- Page Content -->
<div class="row align-items-center justify-content-center" style="margin-top: 50px">
    <div th:fragment="customerAppointments">

        <form class="row g-2 align-items-center mb-3" method="get" th:action="@{/appointments/all}">
            <div class="col-auto">
                <label class="col-form-label" for="status">Status filter</label>
            </div>
            <div class="col-auto">
                <select class="form-select" id="status" name="status">
                    <option value="" th:selected="${selectedStatus == null}">All statuses</option>
                    <option th:each="statusOption : ${statuses}"
                            th:value="${statusOption.name()}"
                            th:text="${statusOption}"
                            th:selected="${selectedStatus != null && statusOption == selectedStatus}">SCHEDULED</option>
                </select>
            </div>
            <input type="hidden" name="size" th:value="${appointments.size}">
            <div class="col-auto">
                <button class="btn btn-secondary" type="submit">Apply</button>
            </div>
        </form>

        <table id="appointments" class="table text-center">
            <thead class="table-dark">
            <tr>
                <th> Work</th>
                <th> Status</th>
                <th> Start</th>
                <th sec:authorize="!hasRole('ROLE_PROVIDER')"> Provider</th>
                <th sec:authorize="!hasRole('ROLE_CUSTOMER')"> Customer</th>
                <th> Duration</th>
                <th> Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${appointments.empty}">
                <td colspan="7"> No Appointments Available</td>
            </tr>
            <tr th:each="appointment : ${appointments.content}"
                th:classappend="${appointment.status.name() == 'CANCELED' || appointment.status.name()  == 'FINISHED' || appointment.status.name()  == 'INVOICED' || appointment.status.name()  == 'REJECTION_REQUESTED' || appointment.status.name()  == 'REJECTED'} ? table-secondary : table-success">
                <td><span th:text="${appointment.work.name}"> Work </span></td>
                <td><span th:text="${appointment.status}"> scheduled </span></td>
                <td><span th:text="${#temporals.format(appointment.start, 'yyyy-MM-dd HH:mm')}"> 21-01-2019 15:00</span>
                </td>
                <td sec:authorize="!hasRole('ROLE_PROVIDER')"><span
                        th:text="${appointment.provider.firstName + ' ' + appointment.provider.lastName}">
                                Provider </span>
                </td>
                <td sec:authorize="!hasRole('ROLE_CUSTOMER')"><span
                        th:text="${appointment.customer.firstName + ' ' + appointment.customer.lastName}">
                                Customer </span>
                </td>
                <td><span th:text="${appointment.work.duration + ' min'}"> 60 min </span></td>
                <td><a class="btn btn-secondary" th:href="@{'/appointments/' + ${appointment.id}}"
                       role="button">Details</a></td>
            </tr>
            </tbody>
            <tfoot class="text-primary">
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th  sec:authorize="hasRole('ROLE_ADMIN')"></th>
            </tr>
            </tfoot>
        </table>
        <div th:replace="~{fragments/pagination :: pager(${appointments}, '/appointments/all', ${paginationQuery})}"></div>
        <div sec:authorize="hasRole('ROLE_CUSTOMER')" class="text-center">
            <a class="btn btn-primary mt-2" th:href="@{/appointments/new}" role="button">New appointment</a>
        </div>

    </div>
</div>


</body>


</html>
