<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'appointments','选择预约时间')}"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<body th:remove="tag">
<script defer th:src="@{/js/vendor/fullcalendar.global.min.js}"
        integrity="sha384-cdgKlW4XCZfQ8yQFLScLHBujFrHf3sMYBPBjRimt2H/ut44fe4t/PUk3luazptar"></script>
<script defer th:src="@{/js/appointment-booking-calendar.js}"
        integrity="sha384-wd7wiFB9+Wr8bMx+7UHjgUC4u0hmfvtjwiKon1NHCjeYimpRhfdCXN6C3bdRiZ7Z"></script>

<div class="page-header">
    <div>
        <h1>选择预约时间</h1>
        <p>请选择一个可预约时段，系统将进入确认页。</p>
    </div>
</div>
<div class="booking-steps"><span>1 选择服务人员</span><span>2 选择服务</span><span class="active">3 选择时间</span><span>4 确认预约</span></div>

<div class="row">
    <div class="col-12 col-lg-8 mx-auto">
        <div class="calendar-panel">
        <div id="calendar"
             th:attr="data-availability-base-url=@{'/api/availableHours/'+${providerId}+'/'+${workId}+'/'},
                      data-booking-base-url=@{'/appointments/new/'+${providerId}+'/'+${workId}+'/'}"></div>
        </div>
    </div>
</div>
</body>

</html>
